
body{
    margin: 0;
    padding: 0px;
}

#title{
    margin: auto;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px pink;
}

#email-form{
    
    display: block;
    position: relative;
    margin: auto;
    max-width: 350px;
}

#email-form label{
    color: purple;
    font-weight: 900;
    font-size: 18px;

}

#email-form input,textarea{
    display: block;
    transform: translate(100px,-25px);
    padding: 5px;
    margin-left: 6px;
    outline: none;
    border: 1px solid;
    border-radius: 3px;
    width: 200px;
    height: 25px;
    transition: all 0.5s;
}

#email-form textarea{
    resize: none;
    transition: all 0.6s ease-out;
}

#email-form textarea:focus{
    height: 200px;
    width: 300px;
}

#email-form input:focus,textarea:focus{
   
    border: 1px solid lightblue;
    box-shadow: 0px 0px 5px lightblue;
}


#email-form button{
    padding: 5px;
    width: 150px;
    border: 0px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 7px;
}

#submit-button{
    /* background-color: green; */
    color: white;
    background-image: linear-gradient(to left ,red,blue,green);
    background-size: 200% 200%;
    animation: button-animation 5s;
    animation-iteration-count: infinite;
    transition: box-shadow 0.5s;
}

@keyframes button-animation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#submit-button:hover{
    
    box-shadow: 0px 0px 8px gray;
}

#submit-button:disabled{
    background-color: grey;
    color: white;
    background-image: none;
}

#reset-button{
    background-color: rgb(210, 210, 210);
    transition: all 0.5s;
}

#reset-button:hover{

    background-color: white;
    color: red;
    box-shadow: 0px 0px 8px red;
}

#note{
    position: absolute;
    /* background-color: aqua; */
    color: red;
    text-shadow: 0px 0px 1px yellow;
    width: 350px;
    padding: 15px;
    border-radius: 50px;
    transform: translate(50px,-410px);
}

.message{
    position: absolute;
    color: white;
    top: 0px;
    right: 0px;
    transform: translate(-90px,100px);
    padding: 15px;
    width: 300px;
    visibility: hidden;
}

#loading{
    width: 250px;
    visibility: hidden;
    color: mediumseagreen;
}